@import './reset.css';
@import './variables.css';
body{
  min-height: 100vh;
  height: 100%;
  background-color: #fbfbfb;
}
#root{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: var(--sidebar-width);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(160, 148, 148);
  border-radius: 5px; 

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}